.Offer{
    height: 80%;
    width: 25%;
    background-color: #fff;
    border-radius: 20px; 

}

.priceContainer{
    height: 35%;
    background-color: tomato;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0 ;
}

.priceContainer h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.priceContainer p{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.priceContainer span{
    font-size: 3rem;
    padding-top: 2rem;
}


.priceContainer h2{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.featuresList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: auto;
    position: relative;
}

.featuresList p{
    margin: 0.5rem 0;
    letter-spacing: 1px;
    font-weight: 700;
    color: rgb(117, 117, 117);
}

.featuresList button{
    margin: 1rem 0;
    padding: 0.8rem 2rem;
    border: 2px rgb(117, 117, 117) solid;
    border-radius: 8px;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(117, 117, 117);
    transition: 0.5s;
}

.featuresList button:hover{
    color: #fff;
    background-color: tomato;
    border: #fff;
}

