.main{
    height: 90vh;
    width: 100%;
    /* background-color: #adadad; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content{
    height: 90%;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}